{% load static %}

<html>

<div class="topnav">
  <a href="#">Oatmeal&Raisin</a>
  <div class="topnav-right">
    {% if user.is_authenticated %}
    <a align="right" href="{% url 'blog:logout' %}" role="button">Log Out</a>
    {% endif %}
  </div>
</div>

<head>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="{% static "blog/post.css" %}">

<body>
<div class="post">
  <h1>{{ post.title }}</h1>
  <div class="byline">
    <center><a href="{% url 'blog:user' profile.id useraccount.username %}">by {{ useraccount.first_name }} {{ useraccount.last_name }}</a>
    <br>
      {{post.date}}
  </div>
<h3>{{ post.content }}</h3>


  {% if user.is_authenticated %}
        {{ post.likes }} <a class="button2" href="{% url 'blog:addLike' profile.id useraccount.username blog.id post.id %}">Like</a> &nbsp;&nbsp;&nbsp;&nbsp; {{ post.dislikes }} <a class="button2" href="{% url 'blog:addDislike' profile.id useraccount.username blog.id post.id %}">Dislike</a>
  {% else %}
        {{ post.likes }} &nbsp; Like &nbsp;&nbsp;&nbsp;&nbsp; {{ post.dislikes }}&nbsp; Dislike
  {% endif %}

  <br><br>
      <center><a class="button" href="{% url 'blog:blog' profile.id useraccount.username blog.id %}">Return To Blog</a></center>


<h3>Comments:</h3>
    <center><div class="list">
      <ul>
        {% for com in comments %}
          <li>{{ com.content }} &nbsp;&nbsp;&nbsp;&nbsp; {{ com.date }}</li>
        {% endfor %}
       </ul>
    </div></center>
{% if user.is_authenticated %}
      <br><center><a class="button" href="{% url 'blog:addcomment' profile.id useraccount.username blog.id post.id %}">New Comment</a></center>
{% endif %}


  </div>

</body>
</head>

</html>
