{% extends 'blog/base.html' %}
{% block content %}


<h2>{{ post.title }}</h2>



<h3>{{ post.content }}</h3>




{% if user.is_authenticated %}
{{ post.likes }}&nbsp;<a href="{% url 'blog:addLike' post.id %}">Like</a> &nbsp;&nbsp;&nbsp;&nbsp; {{ post.dislikes }}&nbsp;<a href="{% url 'blog:addDislike' post.id %}">Dislike</a>
{% else %}
{{ post.likes }} &nbsp; Like &nbsp;&nbsp;&nbsp;&nbsp; {{ post.dislikes }}&nbsp; Dislike
{% endif %}


<h3><a href="{% url 'blog:blog' blog.id %}">Return to blog</a></h3>



<h3>Comments:</h3>
<ul>
  {% for com in comments %}
  <li>{{ com.content }} &nbsp;&nbsp;&nbsp;&nbsp; {{ com.date }}</li>
  {% endfor %}
</ul>

{% if user.is_authenticated %}
<h3><a href="{% url 'blog:addcomment' post.id %}">Make a New Comment</a></h3>
{% endif %}


{% endblock %}
