{% extends 'blog/base.html' %}
{% block content %}


<h1>{{ post.title }}</h1>
  <div class="byline">
    <a href="{% url 'blog:user' profile.id %}">by {{ profileuser.first_name }} &nbsp; {{ profileuser.last_name }}</a>
    <br>
      {{post.date}}
  </div>


<h3>{{ post.content }}</h3>


<div class="postbox">
  {% if user.is_authenticated %}
        {{ post.likes }} <a class="button" href="{% url 'blog:addLike' post.id %}">Like</a> &nbsp;&nbsp;&nbsp;&nbsp; {{ post.dislikes }} <a class="button" href="{% url 'blog:addDislike' post.id %}">Dislike</a>
  {% else %}
        {{ post.likes }} &nbsp; Like &nbsp;&nbsp;&nbsp;&nbsp; {{ post.dislikes }}&nbsp; Dislike
  {% endif %}

  <br><br>

  <a class="button" href="{% url 'blog:blog' blog.id %}">Return to Blog</a>

</div>


<h3>Comments:</h3>
<ul>
  {% for com in comments %}
  <li>{{ com.content }} &nbsp;&nbsp;&nbsp;&nbsp; {{ com.date }}</li>
  {% endfor %}
</ul>

{% if user.is_authenticated %}
<h3><a href="{% url 'blog:addcomment' post.id %}">Make a New Comment</a></h3>
{% endif %}


{% endblock %}
