

   {% block head %}
   <title>Profile</title>
   {% endblock %}

   {% block body %}
   <h1> OATMEAL RAISIN </h1>
   <h2> Profile</h2>
   {{ profile.pic }}
   <p> Name: {{ user.username }}</p>
   <p> Birthday: {{ profile.birth }}</p>
   <p> Bio: {{ profile.bio }}</p>
   {% endblock %}

   <br>
   <h3>My Blogs:</h3>
    <ul>
    {% for blog in blogs %}
        <li><a href="{% url 'blog:blog' blog.id %}">{{ blog.blog_name }}</a></li>
    {% endfor %}
    </ul>

   {% if user.is_authenticated %}
     <h3><a href="{% url 'blog:addblog' user.id %}">Make a Blog</a></h3>
   {% endif %}
