body{
    margin: 0;
    padding: 0;
    background: url(image/pic2.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.profilebox{
    width: 480px;
    height: 620px;
    background-color: rgba(100, 100, 100, 0.5);
    color: #fff;
    top: 53%;
    left: 30%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;

}

.profilebox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

a, a:visited {
    text-decoration: none;
    font-size: 24px;
    line-height: 20px;
    color: pink;
}

a:hover {
    color: white;
}

.blogbox{
    width: 580px;
    height: 620px;
    background-color: rgba(100, 100, 100, 0.5);
    color: #fff;
    top: 53%;
    left: 70%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.blogbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

a.button{
    width: 30%;
    margin-bottom: 20px;
    padding: 14px 25px;
    border: none;
    outline: none;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border-radius: 20px;
    display: inline-block;
}


a.button:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

div.ex3 {

  width: 400px;
  height: 400px;
  overflow: auto;
  text-align: left;
}

.ex4{
  width: 300px;
  height: 250px;
  overflow: auto;
  text-align: left;
}

.topnav {
  background-color: rgba(100, 100, 100, 0.5);
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav-right {
  float: right;
}


